
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {

  // Colors
  --background: #EEF5FF;
  --grey-light: #F8F9FE;
  --blue-light: #BFE0FF;
  --blue: #433DFF;
  --blue-dark: #00275A;
  --blue-darker: #15253F;
  --purple: #5D56B3;
  --red: #D54461;

  // Fonts
  --main-font: 'Ubuntu', sans-serif;

}
